body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.header-links-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  z-index: 1;
  @apply bg-primary-light dark:bg-primary-dark filter blur-md rounded-full;
}
